
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*  Universal selectors */
*{
    padding: 0;
    margin: 0;
    font-family: "Work Sans", sans-serif;
    max-width: 1500px;
}


.text-center{
    text-align: center;
}


.font-size-1{
    font-size: 2.2rem;
}

.font-size-2{
    font-size: 2rem;
}

.font-size-3{
    font-size: 0.8rem;
}

.font-size-4{
    font-size: 0.82rem;
    font-weight: 600;
}

header, main{
    background: linear-gradient( to right, rgba(206, 238, 251, 0.403) , rgba(199, 130, 211, 0.37) );

}
/* Header section */
header{
    /* background-color: antiquewhite; */
    
}

nav{
    background-color:#E02C6D ;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    padding: 2rem 3rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: #ffffff;
}


nav ul{
    display: flex;
    gap: 1.2rem;
    justify-content: right;
    align-items: center;

}

li{
    list-style: none;
}

li a, li a i{
    text-decoration: none;
    /* color: #18191F; */
    color: #ffffff;
}

/* Banner */
.banner{
    padding: 7rem 3rem 2rem;
    margin: 1rem 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.banner p{
    margin: 0.7rem 0;
}

.btn {
    background-color: #E02C6D;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
    font-size: 1rem;
    font-weight: 600;
}

.banner-img-1{
    box-sizing: border-box;
    max-width: 400px;
    margin: 1rem 0;
    background-color: white;
    border: 5px solid #f1e4ff2c;
    border-radius: 50%;
    padding: 2rem;
}

.banner-img-2{
    background-color:#F1E4FF;
    border-radius: 50%;
    padding: 2.5rem;
}

.banner-img{
    background-color: white;
    border-radius: 50%;
    padding: 0.6rem;
}


.banner img{
    width: 100%;
}

/* Sponsor */
.sponsor{
    padding: 2rem;
}

.sponsor-1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    margin-bottom: 1rem;
}

.sponsor-2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

/* Collection */
.Popular-Collection{
    margin: 1.5rem 5.5rem;
}

.Popular-Collection h2{
    margin-bottom: 1.5rem;
}

.card-main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}

.card{
    background-color: white;
    padding: 0.8rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}


.card-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img img{
    display: block;
    width: 100%;
}

.half{
    color: #ffbf00;
}

.half2{
    color: #ffbf00;
    font-size: 17px;
    display: inline-block;
    align-items: center;
}


.card-container h3{
    font-size: 1.5rem;
    columns: #18191F;
    
}

.card-container span{
    font-size: 1.1rem;
    display: block;
    margin: 0.4rem 0;
    color: #090909;
}


.rate{
    display: flex;
    gap: 0.8rem;
    margin: 0 0 0.5rem;
}

.rate-number{
    color: #5e6366;
}
.card-container p{
    color: #787885;
    font-size: 0.75rem;
}

#See-More{
    color: rgba(224, 44, 109, 0.87);
    font-size: 1.3rem;
    margin: 1rem 0;
    text-align: right;
}

/* Featured */
.Featured{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 2rem 3rem;
}


.Featured-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Featured-img img{
    width: 100%;
}

.Featured h2{
    font-size: 1.8rem;
} 

.Featured p{
    margin: 0.5rem 0;
} 



/* Footer */
footer{
    background-color: #0a0826;
    color: white;
    text-align: center;
    padding: 3rem;
}

.footer h3{
    margin-bottom: 0.7rem;
}

.copyright{
    margin-bottom: 0.5rem;
}

.social-link a{
    color: white;
    text-decoration: none;
    margin: 0.5rem;
    display: inline-block;
    font-size: 20px;
    background-color: #58595a63;
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
}

.social-link a:hover{
    color: #ff0000;
    border: 1px solid #ffffff;
    background-color: #ffffff;
}


/* 
.hide{
    display: none;
}  */



/* Small Devices */
@media screen and (min-width: 320px) and (max-width:575px){ 


.font-size-1{
    font-size: 1.4rem;
}

.font-size-2{
    font-size: 1.2rem;
}

.font-size-3{
    font-size: 0.7rem;
}

.font-size-4{
    font-size: 0.6rem;
    font-weight: 500;
}


/* Header section */
header{
    /* background-color: rgb(246, 145, 13); */
}

nav{
    /* background-color: #5e6366; */
    gap: 0.2rem;
    padding: 1rem;
}

nav ul{
    gap: 0.5rem;
}

/* Banner */
.banner{
    padding: 4rem 1rem 1rem;
    gap: 2rem;
}

.banner p{
    margin: 0.3rem 0;
}

.btn {
    margin: 0.2rem 0 0;
    padding: 0.5rem 1.1rem;
    font-size: 0.9rem;
    font-weight: 500;
}

.banner-img-1{
    margin: 0.5rem 0;
    border: 3px solid #f1e4ff2c;
    padding: 1rem;
}

.banner-img-2{
    padding: 1rem;
}

.banner-img{
    padding: 0.3rem;
}

/* Sponsor */
.sponsor{
    padding: 2rem 2.2rem;
}

.sponsor-1{
    gap: 1.2rem;
    margin-bottom: 0.8rem;
}

.sponsor-2{
    gap: 0.9rem;
}

/* Collection */
.Popular-Collection{
    margin: 1.5rem 2.5rem;
}

.Popular-Collection h2{
    margin-bottom: 1rem;
}

.card-main{
    grid-template-columns: repeat(1,1fr);
}

.card{
    border-radius: 0.5rem;
    gap: 0.7rem;
}

.card-container h3{
    font-size: 1.5rem;
}

.card-container span{
    font-size: 1.2rem;
    margin: 0.4rem 0;
}

.rate{
    gap: 0.7rem;
}

#See-More{
    font-size: 1.1rem;
}


/* Featured */
.Featured{
    flex-wrap: wrap-reverse;
    text-align: center;
    gap: 0.8rem;
    padding: 1rem 1.5rem;
}

.Featured-img{
    display: flex;
    flex: 1;
}

.Featured p{
    margin: 0.5rem auto;
    max-width: 80%;
}

}